<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="KaynakBaglantiString1" value="Provider=vfpoledb.1;Collating Sequence=TURKISH;DATE=BRITISH;connection Timeout=1200;Data Source=F:\AAW\acente\ADADATA.DBC" />
    <add key="HedefBaglantiString1" value="Data Source=PCMAY2013;Initial Catalog=acentesql;Integrated Security=True" />

    <add key="KaynakBaglantiString2" value="" />
    <add key="HedefBaglantiString2" value="" />
  </appSettings>
</configuration>